.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#main-content {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Make the main content take up the full viewport height */
}

#spreadsheet-container {
  flex: 1; /* Allow the spreadsheet to grow and shrink */
  overflow: auto; /* Add scroll if content overflows */
  width: 35%;
}

#gantt-chart-container {
    flex: 1; /* Allow the Gantt chart to grow and shrink */
  overflow: auto; /* Add scroll if content overflows */
  display: flex;
  flex-direction: column;
  width: 55%;
}

.data-grid-container {
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Mermaid Gantt Chart Styles */
#gantt-chart-container .mermaid {
  flex: 1; /* Make the mermaid chart take up all available space */
}

#gantt-chart-container .mermaid .titleText {
  font-size: 24px; /* Change title font size */
}

#gantt-chart-container .mermaid .sectionTitle {
  font-size: 18px; /* Change section title font size */
}

#gantt-chart-container .mermaid .tick text {
  font-size: 12px; /* Change date axis font size */
}
