/* WBStree.css */

#treeWrapper {
    width: 80vw;
    height: 80vh;
    border-radius: 10px;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.2px;
  }
  
  .root-node circle {
    fill: #ff6347;
    stroke: #ff6347;
  }
  
  .branch-node circle {
    fill: #ffa500;
    stroke: #ffa500;
  }
  
  .leaf-node circle {
    fill: #32cd32;
    stroke: #32cd32;
  }
  
  .node-label {
    font-size: 12px;
    font-weight: bold;
    fill: #333;
  }