.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-content {
  display: flex;
  justify-content: space-between;
  margin: 0 2%;
}

.spreadsheet-container {
  width: 35%;
}

.gantt-chart-container {
  width: 55%;
}

.data-grid-container {
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* Additional styling for the grid itself, if needed */
.react-grid-Container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

/* Header row styling */
.react-grid-Header {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
}

/* Cell styling */
.react-grid-Cell {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Adjust the last cell border to match others */
.react-grid-Cell:last-child {
  border-right: none;
}